<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/simple-sidebar.css">
       <link rel="stylesheet" href="styles/shoppingcart.css">
    <!-- endbuild -->
  </head>
  <body ng-app="currprjApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
      <div id="wrapper">
          <!-- Sidebar -->
          <div id="sidebar-wrapper" ng-controller="menucontroller">
              <ul class="sidebar-nav">
                  <li class="angular-brand">
                      <img class="angular-img" src="/images/angularjs.png" alt="Angular Examples">
                  </li>
                  <li ng-repeat="items in menuItems"  ng-class="{ 'click-class-name': $index == selectedIndex }"
                  ><a href="#/{{items.item}}"  ng-click="clicked($index)"><div class="ca-content"><span class="ca-main">{{items.item}}</span></div></a></li>
               
              </ul>
          </div>
         
          <div class="container2">
              <div class="row">
                  <ng-view></ng-view>
              </div>
          </div>
      </div>
 <!-- /#wrapper -->



    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/requirejs/require.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->

        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/angLoginController.js"></script>
        <script src="scripts/controllers/angShoppingCartPanelController.js"></script>
        <script src="scripts/controllers/angShoppingCartController.js"></script>
        <script src="scripts/factories/angMenuDataserviceFactory.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/factories/angDataserviceFactory.js"></script>
     
        <script src="scripts/Directives/angLoginDirective.js"></script>      
        <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
        <script src="scripts/factories/angShoppingCartDataFactory.js"></script>
        <script src="/scripts/Directives/angShoppingCartDirective.js"></script>
        
        
        <!-- endbuild -->

            <script>
   
    </script>

   
</body>
</html>
