 <div class="shoppingcart">
 <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="data in angscdatas">
                        <div class="thumbnail" markable>
                            <img ng-src="{{data.image}}" alt="" >
                            <div class="caption">
                                <h4 class="pull-right">{{data.price}}₹</h4>
                                <h4><a href="#s">{{data.name}}</a>
                                </h4>
    							 <button type="button" class="btn btn-default btn-lg" ng-click='addTocart(data)'>
    							   Add 
    							  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 
    							</button>
                                
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>                 

<div ng-transclude></div>
</div>
</div>