 <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" ng-controller="sideController">
            <ul class="sidebar-nav">
                <li class="angular-brand">
                    <img class="angular-img" src="/images/angularjs.png" alt="Angular Examples">
                </li>
                <li ng-repeat="menu in angMenuDatas">
                    <a ng-href="#/{{menu.item}}">{{menu.item}}</a>
                </li> 
             
            </ul>
        </div>
   

    
 </div>
    